.card{
    border-color:  blue !important;
     border-style: solid !important;
      border-width: 1px 5px 10px   1px !important;

}
.btn{
    font-size:x-large !important;
    border-width: 2px !important;
    color: aqua;
    border-color: aqua !important;
}
.btn:hover{
    color: white !important;
    background-color: aqua !important;
}